/*-------------------------------
	POPUP.CSS
-------------------------------*/

.grom-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1100;
    overflow: auto;
}
.grom-popup_backdrop {
    background-color: rgba(34, 34, 34, 0.7);
}

.grom-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    display: none;
    background-color: #000000;
    opacity: .6;
}

.grom-backdrop_visible {
    display: block;
}

.grom-popup__content {
    display: none;
    position: relative;
    margin: 100px auto;
    background: #ffffff;
    padding: 20px;
    z-index: 1102;
}
.grom-popup_visible, .grom-popup__content_visible {
    display: block;
}

.grom-popup__close {
    position: absolute;
    right: 15px;
    top: 5px;
    font-size: 24px;
    cursor: pointer;
}

.grom-popup__close:hover {
    opacity: .85;
}

.grom-popup-open {
    overflow-y: hidden;
}