/*-------------------------------
	POPUP.CSS
-------------------------------*/

.popup-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;
}

.popup-background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
	z-index: 1101;
}

.popup-container .popup {
    position: relative;
    margin: 100px auto;
    overflow: auto;
    z-index: 1102;
}

.preloader {
    position: fixed;
    width: 200px;
    height: 30px;
    line-height: 30px;
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -100px;
    color: white;
    text-align: center;
    z-index: 1103;
}


.popup-close {
	color: #888;
	cursor: pointer;
	position: absolute;
	padding: 5px;
	right: 5px;
	top: 0;
}

.popup-close:hover {
	color: #111;
}

.popup-background {
	cursor: pointer;
	background-color: #222;
}

.popup {
	background: #fff;
	padding: 25px;
	box-shadow: 0 3px 10px #222;
}